.btn-group {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 15px;
}

.grid {
    margin: 100px;
    display: flex;
    justify-content: center;
  }


 .grid > div {
    border: 2px solid black;
}


.hover {
  background: gray;
}